# Web Server
Flask==3.0.0
gunicorn==21.2.0
Werkzeug==3.0.1

# Database
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.30

# Generative AI
google-generativeai==0.8.3

# Utilities
python-dotenv==1.0.0
requests==2.31.0
emoji==2.8.0
fpdf==1.7.2
